{{#*inline "background"}}
<!--background-->
  <div class="background bg-black4 rounded-xl border-2 border-gray m-3 p-4">
    <h2>Historique Détaillé</h2>
    <textarea name="attr_BgDetails" cols="30" rows="10"></textarea>
    <h2>Capacité Spéciale</h2>
    <textarea name="attr_CapSpe" cols="30" rows="10"></textarea>
  </div>
{{/inline}}