{{#*inline "tabs"}}
<div class="flex flex-row justify-between my-5 p-4 rounded-xl ">
    {{#each tabs}}
    <button type="action"
        class="w-5/6 bg-magenta text-black5 px-6 mx-4 rounded-xl  hover:bg-pink hover:text-black3 hover:border-2 hover:border-magenta"
        name="act_{{this.eng}}" value="{{this.eng}}">{{this.fr}}</button>
    {{/each}}
</div>
{{/inline}}