<div class="sheet container mx-auto text-teal">
    <div class="w-fit mx-auto">
        <img class="p-5" src="https://i.ibb.co/gZcWm2w/ddemini.png" alt="logos" border="0">
    </div>
    {{!-- character infos section --}}
    {{>infoBar}} 
    {{!-- tabs --}}
    {{> tabs}}
    <input type='hidden' class='tabstoggle' name='attr_sheetTab' value='character' />
    {{!-- character sheet --}}
    <div class="character">
        <div class="skills">
            {{> skillsTab}}
        </div>
    </div>
    {{> equipment}}
    {{> background}}
    {{> advancement}}
</div>
{{> rollTemplate}}
{{> script}}
<div class=" hidden repcontrol_add btn repcontainer" data-groupname="repeating_traits"></div>