$flamingo: #ecbfbd;
$magenta: #c6aae8;
$pink: #f1afe1;
$red: #e29c8c;
$peach: #f8c196;
$yellow: #eadda1;
$green: #b4e1a3;
$blue: #a5b9ef;
$black2: #15121c;
$black3: #1b1923;
$black4: #1e1e28;
$black5: #2d293b;
$black6: #3e4058;
$gray: #7e6c7c;
$white: #d8dae0;
$teal: #10dddc;

